<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<script src="js/bootstrap-datepicker.js"></script>

<script>
function validateCheck(){
	
	var name=document.myForm.name.value;
	var dob=document.myForm.dob.value;
	var image=document.myForm.image.value;
	
	if(name==null||name==""){
		alert('Name Cannot be blank');
		return false;
	}if(dob==null||dob==""){
		alert('Salect Date of Birth');
		return false;
	}if(image==null||image=="");
		alert('Select an Image');
		return false;
		
		else if(name!=null && dob!=null && image!= null){
			return false;
		}
	
}


function fileValidation(){
	   
	var allowedExtension = ['jpeg' , 'jpg', 'png', 'gif'];
	var fileExtension = document.getElementById('image').value.split('.').pop().toLowerCase();
	//var fileExtension = document.getElementById('image').files[0].type;
	var isValidFile = false;
	
		
		
	 	for(var index in allowedExtension){
		if(fileExtension === allowedExtension[index]){
			isValidFile = true;
			//return isValidFile;
			break;
			} 
	 	}
		
	 	if(!isValidFile){
	 		alert('Allowed Extensions are : *.' + allowedExtension.join(', *.'));
	 	}
	 	return  isValidFile;
		/* var filePath = fileExtension.value;
		if(!allowedExtension.exec(filePath)) {
			alert('Invalid File Type');
			fileExtension.value = '';
			return false;
		} */
	
	
} 

function fileValidate(){
	   //alert("hi");
	    var fileInput = document.getElementById('image');
	    var filePath = fileInput.value;
	  // alert(filePath);
	    //var allowedExtensions = /(\.pdf,)$/;
	    var allowedExtensions = /(jpeg|png|gif)$/i;
	   // (pdf,xls,xlsx,doc,docx,jpg,jpeg,png
	    var fileSize = document.getElementById('image').files[0].size;
		//alert(fileSize);
	    if(!allowedExtensions.exec(filePath)){
	        alert('Please upload file having extensions jpg,jpeg,png.gif');
	        fileInput.value = '';
	        return false;
	    } 
	    else{
	    	 return true;
	    } 
	   
	}     


</script>



</head>
<body>
	<div align="center">
		<h1>Customer Management System</h1>
		<hr>
		<h2> Customer Form</h2>

		<form action="#" th:action="@{/uploadDetails}" name="myForm"  th:object="${customer}" method="POST" enctype="multipart/form-data">
				<input type="text" th:field="*{name}"
				placeholder="Name" id="name" required maxlength="45"  class="form-control mb-4 col-4">
				
				<input type="date" th:field="*{dob}"
				placeholder="Enter Date of Birth" id="dob" required class="form-control mb-4 col-4">
				
				<input type="file" th:field="*{image}" name="image" id="image" required onchange="return fileValidate();"
				placeholder="Select File" accept=".jpeg, .jpg, .png, .gif" class="form-control mb-4 col-4">
				
				<!-- <input type="button" value="insert" class="form-control mb-4 col-4"/> -->
				
				<button type="submit" value="submit" onsubmit=" return validateCheck();" "btn btn-info col-2"> Save Customer</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Customer List</a>
	</div>
<!-- <script>
$('.input-group.date').datepicker({
	autoclose:true,
	todayHighlight: true
})
</script> -->
	
</body>
</html>